.mainText {
    font-size: 3em;
    color: black;
    position: relative;
    display: inline-block;
   
}

.largeG {
    font-size: 5em; 
    /* font-weight: bold; */
    color: #000; 
}

.shinyText {
    background: linear-gradient(90deg, #000 45%, #527eb8 50%, #fff 55%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: shine 5s linear infinite; */
}

@keyframes shine {
    from {
        background-position: -500px;
    }

    to {
        background-position: 500px;
    }
}

.textRow {
    display: flex;
    align-items: baseline;
}