.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 200px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 10px;
}
.table th{
    font-family: cursive;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: "30rem";
   
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.row:nth-child(even) {
    background-color: #f2f2f2;
}

.row:hover {
    background-color: #e0e0e0;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
     font-size: smaller;
     max-width: 40rem;
}

.filterButton {
    background-color:#aee1f5;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.filterButton:hover {
    background-color: #509afa;
}

.filterButton.active {
    background-color: #2684FF;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 1rem;
}

.pageItem {
    margin: 0 0.5rem;
}

.pageItem a {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}

.pageItem a.active {
    background-color: #333;
    color: #fff;
}

.buttonRow {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 0.5rem;
    /* Adjust the gap between buttons */
}


